/* GENERAL */
a {
    text-decoration: none;
    color: #0E467A;
}

.my-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    color: red;
}

h2 {
    text-align: center;
}


/* END GENERAL */


/* HEADER */


/* END HEADER */


/* SHOW-SONGS */

/* END SHOW-SONGS */


/* SHOW-DETAILS */

/* END SHOW-DETAILS */


